#header("developerguide", "Developer Guide - Kunagi", "Kunagi developer guide, architecutre overview.", "Kunagi, developer, guide, tutorial")


<div class="section">
    <a name="source"></a>
    <h2>Source Code</h2>
    <p>You can get source code from 
        <a target="_blank" href="http://github.com/Kunagi/">GitHub</a>, 
        <a target="_blank" href="https://sourceforge.net/projects/kunagi/">SourceForge</a> or
        <a target="_blank" href="https://code.google.com/p/kunagi/">Google Code</a>.
    </p>
</div>


<div class="separator"></div>

<div class="section">
    <a name="devdoc"></a>
    $wiki.DevDoc
</div>

#footer()