#header("payment", "Voluntary payment - Kunagi", "Donation for Kunagi", "Kunagi, payment, donation")

<div class="section">
    <h2>Voluntary payment</h2>

    <p>We develop Kunagi in our spare time. Because it's fun and because we use Kunagi ourselfs. We would like
    to spent more time on this project. With your voluntary payment you can buy us more time for working on Kunagi.
    - <em>Artjom Kochtchi &amp; Witoslaw Koczewski</em></p>  

    <br><br>
    <div id="amountslider"></div>

    <br>
    <div style="float: left; margin-right: 10px;">
        Amount: 
        <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold; font-size:125%; width: 70px;" disabled="true">
    </div>
    <div style="float: left; margin-right: 10px;">
        <div class="starter">
            <a href="javascript:kunagihp.paypal();">Pay with PayPal</a>
        </div>
    </div>
    <div style="clear: both;"></div>
    
    <br><br>
    <a href="download-file.html">Not now, take me to the download</a>

#footer()