<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#header("team", "Team - Kunagi", "Kunagi Team. Feedback.", "Kunagi, team, feedback, developers")

<div class="section">
    
    <a name="team"></a>
    <h2>Kunagi Team</h2>
    <p>Kunagi is developed by a distributed team:</p>
    <ul>
        <li><a>Artjom Kochtchi</a> is Product Owner and Team member</li>
        <li><a href="http://koczewski.de/" target="_blank">Witoslaw Koczewski</a> (<a href="http://koczewski.de/witoslaw-koczewski-csm.pdf" target="_blank">CSM</a>) is ScrumMaster and Team member</li>
        <li><a href="http://fabianhager.de/" target="_blank">Fabian Hager</a> is Team member</li>
        <li><a href="http://grubalski.de/" target="_blank">Kacper Grubalski</a> is Team member</li>
        <li><a>Fabian Wischnewski</a> is Team member</li>
    </ul>
    $wiki.Contributions
    
</div>


<div class="separator"></div>                    

<div class="section">

    <h2>Networking</h2>
    You can follow us or write reviews on
    <a href="http://www.facebook.com/pages/kunagi/106332836057762" target="_blank">Facebook</a>,
    <a href="http://www.twitter.com/kunagipm" target="_blank">Twitter</a>,
    <a href="http://identi.ca/kunagi/" target="_blank">identi.ca</a>,
    <a href="http://friendfeed.com/kunagi" target="_blank">FriendFeed</a>,
    <a href="http://freshmeat.net/projects/kunagi/" target="_blank">FreshMeat</a>,
    <a href="http://github.com/Kunagi" target="_blank">GitHub</a>,
    <a href="http://sourceforge.net/projects/kunagi/" target="_blank">SourceForge</a>,
    <a href="https://code.google.com/p/kunagi/" target="_blank">Google Code</a>,
    <a href="http://userstories.com/products/65-kunagi" target="_blank">UserStories.com</a>,
    <a href="http://alternativeto.net/desktop/kunagi/" target="_blank">AlternativeTo</a>,
    <a href="http://flattr.com/thing/2486/Kunagi" target="_blank">Flattr</a>,
    <a href="https://launchpad.net/kunagi/" target="_blank">Launchpad</a>,
    <a href="http://www.heise.de/software/download/kunagi/74852" target="_blank">Heise</a>.
    
</div>


<div class="separator"></div>                    

<div class="section">

    <h2>Contact / Feedback</h2>
    #commentForm("submitIssue", $null, "Your message", "Make this issue visible on this homepage <span style='color: #AAA; font-size: 10px;'>(without your name and e-mail)</span>", "Send message")
    
</div>


<div class="separator"></div>                    

<div class="section">

    <h2>Email</h2>
    You can email us via <a href="mailto:support@kunagi.org">support@kunagi.org</a>.
    
</div>



#footer()