html {
  cursor: text;
}

.editbox {
  margin: 5px;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background: #FAFAFF;
  border: 1px solid gray;
}

.editbox p {
  margin: 0;
}

.editbox span.wiki-normal {color: black;}
.editbox span.wiki-keyword {font-weight: bold;}

.editbox span.wiki-h1 {font-weight: bold; font-size: 18px;}
.editbox span.wiki-h2 {font-weight: bold; font-size: 16px;}
.editbox span.wiki-h3 {font-weight: bold; font-size: 14px;}
.editbox span.wiki-h4 {font-weight: bold; font-size: 12px;}

.editbox span.wiki-list {color: blue;}

.editbox span.wiki-code {color: red;}
